@import "variables.scss";
@import "mixins.scss";

body {
  background: rgb(18, 40, 68);
  background: linear-gradient(
    90deg,
    rgba(18, 40, 68, 1) 0%,
    rgba(34, 61, 159, 1) 73%
  );
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $whitish;
  font-weight: normal;
  font-family: Calibri, sans-serif;
  font-size: 20px;
}

#app {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid $blue-border;
  background-color: $lightblue;
  height: 800px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 50px;

  h2 {
    font-size: 1.4em;
  }
}

button {
  background-color: $blue;
  width: 200px;
  height: 50px;
  margin: 25px auto;
  padding: 0 6px;
  font-size: 20px;

  &:hover {
    background-color: $purple;
    cursor: pointer;
  }

  &.grayed-out {
    background-color: $whitish;

    &:hover {
      cursor: default;
    }
  }
}

label {
  font-size: 28px;
  margin: 25px 0;

  @include for-mobile {
    font-size: 16px;
  }
}

select {
  width: 400px;
  height: 32px;
  font-size: 20px;
  margin: 0 auto;

  @include for-mobile {
    width: 250px;
    font-size: 12px;
  }
}

.grid-answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.answer {
  display: flex;
  justify-content: center;

  input {
    width: 20px;
    margin: 10px;
  }
}

.button-row {
  display: flex;
}

.bar {
  accent-color: $purple;
  margin: 0 auto;
  width: 600px;

  @include for-mobile {
    width: 280px;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  td,
  th {
    border: 1px solid $whitish;
    padding: 40px;

    @include for-mobile {
      padding: 30px;
    }
  }
}
